{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Bilateral Distribution Task{% endblock %}

{% block content %}


    <p><strong>Earnings</strong>
<br>
    You will be paid for both rounds of the task described above:

    <ul>
    <li>This includes the amount you kept as the decision maker, and the amount allocated to you when your
        role was the decision receiver.
        The actual earnings from this round will be converted at a ratio of 20 points to $1 USD.</li>
    </ul>
    </p>

    <p>
     Press "Next" to begin quiz
    </p>

{% next_button %}
{% endblock %}
