{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Welcome to today’s experiment{% endblock %}

{% block content %}



   <p>
      The purpose of this experiment is to learn about decision making by individuals. This experiment will
       be broken into <b>two tasks</b>. Each task will have <b>multiple rounds.</b>
        <br>
        <br>
        How much money you earn today will depend on both your decisions and the decisions of the other participants
        in this experiment. Any money you earn throughout the experiment will be paid in cash following the completion of all
        participants.
        <br>
<br>

        In order to make sure the decisions you make during this experiment are your own, please turn off all
        electronic devices and do not talk to anyone else while in the laboratory. Your identity will remain
        anonymous throughout the entirety of the experiment. If you have any questions, or if you have any
        trouble with the computer, please raise your hand. We will come to you to answer your questions.

    </p>

    <h4>
        For the first task you will:
    </h4>
    <p>
    <ol>
    <li>Read the instructions on the following pages </li>
    <li>Answer a 2-question quiz  </li>
    <li>Participate in 2 rounds of the proposed task</li>
    </ol>
</p>

{% next_button %}
{% endblock %}
