{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Multilateral Distribution Task{% endblock %}

{% block content %}
    <p>

    <p>
    <strong>For the final section of this experiment you will:</strong>
    <ul>
    <li>Read these instructions.</li>
    <li>Answer a 4 question quiz on these instructions. </li>
    <li>Participate a repeated multilateral distribution game described below.
        This will be the last task of this experiment</li>
    </ul>
    </p>
    <br><br>
    <p><strong><u>Multilateral Distribution Task</u></strong>
    <br><br>
    <p>For the following task you will be placed in groups with three other subjects.
    Your group will change twice throughout the course of the task and each time you will be placed with 3 randomly
    assigned group members. You may be assigned to be a distributor or sender with each new group assignment.
    </p>

    <p>
     Press "Next" to proceed to the next page
    </p>

{% next_button %}
{% endblock %}
